.HistoryPage {
    padding-top: 1px;
    padding-left: 50px;
    background-color: rgb(255, 249, 235);
    color: rgb(00, 00, 00);

}

.HistoryContent {
    margin-top: 10%;
    max-width: 800px;
    text-align: justify;
    margin-bottom: 30px;

}

.HistoryContent h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;

    font-family: Ribeye;
    font-weight: 300;
}

.HistoryContent p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: "Space Grotesk";
    font-weight: 400;
}

.HistorySections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    max-width: 1000px;
}

.HistorySection {
    background-color: rgb(255, 185, 28);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.HistorySection h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-family: Ribeye;
    font-weight: 400;
}

.LearnMoreButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(22, 56, 35);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.LearnMoreButton:hover {
    background-color: rgb(255, 249, 235);
    color: black;
}