/* Reset and base styles */
body {
  margin: 0;
  font-family: Arial,sans-serif;
  background-color: #f0f0f0;
  color: #000000;
}

.App {
  text-align: center;
  background-color: #163823;
  
}

.App-header {
  background-color: #000000;
  background-image: url("../src/Images/green_bg.png");
  background-size: cover;
  background-position: center;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.DiscoverTheHistoryPanel {

  padding-left: 30px; 
  text-align: center; 
  color: #fff; 
}

.about-content {
  max-width: 1200px; 
  margin: 0 s;
}

.about-content h2 {
  font-size: 2.5rem; 
  margin-bottom: 50px;         
margin-top: 30px;
    position:absolute;
    text-align: left;
   left: 500px;
    font-Size: 64;
    font-Family: "Ribeye";
    font-Weight: "400";
    word-Wrap: "break-word";
  
}

.about-content p {
  font-size: 1.2rem; 
  line-height: 1.6;
  margin-bottom: 10px;
  margin-top: 90px; 
  left: 60px;
  text-align: left;
  word-wrap:normal;
  font-size: 20px;
    font-family: "Space Grotesk";
    font-weight: 400;
}

.App-link {
  color: #2d4f58;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    height: 40vmin;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
